<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AllClean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Build&amp;Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hogehogefoofoobarbarTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE43720D1BAD2A1700B28B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A11BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A21BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A31BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A41BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A51BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A61BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB79A81BA949CE001F320B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
